body {
  background-color: #282c34;
  background-image: url('https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg');
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-size: cover;
}
